In [1]:
import pandas as pd
import math

In [2]:
df = pd.read_csv("FlightDistanceTest.csv")
df.head()

,Normalised City Pair,Departure Code,Arrival Code,Departure_lat,Departure_lon,Arrival_lat,Arrival_lon
0,"London, United Kingdom - New York, United Stat...",LHR,JFK,51.5,-0.45,40.64,-73.79
1,"Johannesburg, South Africa - London, United Ki...",JNB,LHR,-26.1,28.23,51.47,-0.45
2,"London, United Kingdom - New York, United Stat...",LHR,JFK,51.5,-0.45,40.64,-73.79
3,"Johannesburg, South Africa - London, United Ki...",JNB,LHR,-26.1,28.23,51.47,-0.45
4,"London, United Kingdom - Singapore, Singapore",SIN,LHR,1.3,103.98,51.47,-0.45

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Normalised City Pair  3000 non-null   object
 1   Departure Code        3000 non-null   object
 2   Arrival Code          3000 non-null   object
 3   Departure_lat         3000 non-null   float64
 4   Departure_lon         3000 non-null   float64
 5   Arrival_lat           3000 non-null   float64
 6   Arrival_lon           3000 non-null   float64
dtypes: float64(4), object(3)
memory usage: 164.2+ KB

Prepare arguments to count the distance

In [4]:
d_lat = df["Departure_lat"]
d_lon = df["Departure_lon"]
a_lat = df["Arrival_lat"]
a_lon = df["Arrival_lon"]
dep = df['Departure Code']
arr = df['Arrival Code']

Prepare the functions

In [5]:
def count_dist(a_lat, d_lat, a_lon, d_lon):
    dist_lat = a_lat - d_lat
    dist_lon = a_lon - d_lon

    dist = dist_lat * dist_lat + dist_lon * dist_lon
    dist = math.sqrt(dist)
    return round(dist, 2)

def make_key(dep, arr):
    new_key = dep + "_" + arr
    return str(new_key)

        
def check_list(list):
    if len(list) == 2:
        if list[0] == list[1]:
            return True
        else:
            return False
    else:
        for i in range(1, len(list)):
            if list [0] != list[i]:
                return False

Counting distance for every journey

In [6]:
dict = {}
key_list = []

for i in range(0, len(df)-1):
    key = make_key(dep[i], arr[i])
    dist = count_dist(a_lat[i], d_lat[i], a_lon[i], d_lon[i])
    if key in dict:
        dict[key].append(dist)
    else:
        dict[key] = [dist]
        key_list.append(key)

Finding errors in database

In [8]:
error_dict = {}

for i in key_list:
    if check_list(dict[i]) == False:
        error_dict[i] = dict[i]

error_dict

{'LHR_MAA': [89.37, 15.93],
 'JNB_CAI': [56.23, 24.56],
 'JFK_JNB': [82.76, 121.91],
 'SAN_LHR': [74.14, 97.29],
 'AUH_LHR': [58.22, 61.38, 61.38],
 'LHR_MEX': [103.79, 108.98],
 'BOM_JFK': [74.14, 148.22],
 'EBB_LHR': [64.6, 61.08],
 'SIN_JFK': [130.05, 182.07, 182.07, 182.07],
 'JNB_BOM': [63.51, 18.58, 63.51],
 'EWR_GLA': [71.38, 5.9],
 'LHR_BLR': [87.16, 25.56, 87.16],
 'JFK_SYD': [277.92, 237.04, 237.04],
 'JFK_TLV': [109.02, 40.36],
 'JFK_GVA': [80.1, 8.41],
 'SIN_JNB': [80.56, 80.56, 58.14, 80.56],
 'FRA_JFK': [82.89, 74.14],
 'JNB_SEZ': [34.69, 19.01],
 'LHR_CGK': [29.35, 63.43],
 'LHR_AUS': [11.47, 2.77],
 'AMS_JFK': [79.4, 74.14],
 'MIA_SFO': [12.27, 28.1],
 'CHO_ATL': [7.8, 8.16],
 'MAA_LHR': [89.34, 61.63],
 'GVA_RUH': [45.7, 45.83],
 'GBE_NBO': [25.73, 26.26],
 'ZRH_ICN': [118.52, 118.78],
 'GRU_ORD': [14.48, 83.52],
 'SIN_NBO': [32.41, 30.4],
 'ZRH_HKG': [108.34, 108.98],
 'ICN_ZRH': [3.31, 2.65, 2.65],
 'JFK_CGK': [7.9, 29.35],
 'TPE_JFK': [188.62, 195.65],
 'GRU_MXP': [19.49, 2.12],
 'SFO_ZRH': [131.33, 2.65],
 'JFK_DME': [38.55, 30.38],
 'HKG_BOS': [27.94, 51.6]}